@use 'utilities' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: $section-pure;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.color-text {
	color: $info-color;
	text-shadow: 2px 2px 8px $main-color;
}
.section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}
.title {
	margin: 1em;
	padding: 0.5em;
	font-size: 1.8rem;
	text-transform: uppercase;
}
.right {
	display: flex;
	flex-direction: row-reverse;
	text-align: right;
}

.text {
	padding: 1em;
	text-align: center;
	h3 {
		padding: 0.5em;
		font-size: 2rem;
		border-bottom: 8px solid $section-pure;
	}
	p {
		margin: 0.5em;
		padding: 0.5em;
		font-size: 1.8rem;
	}
}
.border-right {
	border-bottom-right-radius: 50px;
}

.border-left {
	border-bottom-left-radius: 50px;
}
.img {
	margin: 2em;
	img {
		width: 100%;
		height: 100%;
		min-width: 180px;
		min-height: 300px;
		max-width: 800px;
		max-height: 500px;
		border-radius: 10px;
		box-shadow: 2px 2px 8px $bg-dark;
		transition: transform 0.3s;
	}
	img:hover {
		transform: scale(1.1);
	}
}
.fade-in {
	opacity: 0;
	transition: opacity 400ms ease-in;
}
.fade-in.appear {
	opacity: 1;
}
.from-right {
	transform: translateX(50%);
	opacity: 0;
}
.from-left {
	transform: translateX(-50%);
	opacity: 0;
}
.from-right,
.from-left {
	transition: opacity 400ms, transform 400ms ease-in;
}
.from-right.appear,
.from-left.appear {
	transform: translateX(0);
	opacity: 1;
}
.show-news {
	margin-top: 1em;
	padding: 0.5em;
	font-size: 2rem;
	width: 100%;
	color: $section-pure;
	border: none;
	background-color: $section-light;
	box-shadow: 8px 8px 8px $section-pure;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}
.show-news:hover {
	background-color: $main-color;
}
// NAV
.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 2px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		height: 3px;
		content: '';
		background-image: $light-blue-gradient;
		transition: width 0.3s;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 30%;
		}

		&::before {
			top: 27px;
			width: 100%;
			transition-delay: 0.1s;
		}
	}
}

.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-image: $nav-bg-light;
	z-index: 100;

	&--active {
		transform: translateX(0);
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		font-size: 2.8rem;
		color: $section-pure;
		text-decoration: none;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 8px;
			height: 100%;
			transform: scaleY(0);
			background-image: $blue-gradient;
			transition: transform 0.3s;
			content: '';
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}
}

.nav-items-animation {
	animation: navItemsAnimation 1s both;
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
	background-image: $nav-bg;
}

// header
header {
	color: $section-pure;
	.hero-text {
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100vh;
		z-index: 5;
		h1 {
			font-size: 2.5rem;
			text-transform: uppercase;
			text-shadow: 2px 2px 8px $footer-bg;
		}

		p {
			font-size: 1.5rem;
		}
	}
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('../img/header-mobile.jpg');
		background-size: cover;
		background-position: bottom;
		background-attachment: fixed;
		z-index: 0;
	}
	.hero-bg,
	.bg-box {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: $blue-gradient;
		z-index: -10;
	}

	.outline {
		margin-top: 0.3em;
		padding: 0.5em;
		border: 2px solid $text-main;
		border-radius: 15px;
		box-shadow: -2px 2px 5px $text-main;
		font-size: 1.6rem;
		color: $text-main;
		text-transform: uppercase;
		text-decoration: none;
		transition: color 0.3s text-shadow 0.3s;
		overflow: hidden;
	}
	.outline:hover,
	.outline:focus {
		color: $info-color;
		text-shadow: 0 0 8px $info-color;
		outline: none;
		background: transparent;
		background-color: $section-pure;
	}

	.fa-chevron-down {
		padding: 0.5em;
		font-size: 3rem;
		color: $text-main;
		transition: color 0.3s;
		animation: bounce-top 4s infinite step-end;
	}
	.fa-chevron-down:hover,
	.fa-chevron-down:focus {
		outline: none;
		color: $info-color;
	}
	.header-arrow {
		position: absolute;
		bottom: 8%;
		left: 50%;
		font-size: 3rem;
		color: $text-main;
		border: 3px solid $text-main;
		border-radius: 50%;
		transform: translateX(-50%);
		z-index: 20;
		&::before {
			position: absolute;
			top: -4%;
			left: -4%;
			width: 100%;
			height: 100%;
			content: '';
			border: 3px solid $footer-bg;
			box-shadow: 2px 2px 8px $footer-bg;
			border-radius: 50%;
			animation: pulse 2s infinite ease-out;
		}
		& a:focus {
			outline: none;
			i {
				color: $info-color;
			}
		}
	}
}
// section News
.news {
	width: 100%;
	background-color: $bg-dark;
}
.card {
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 2rem;
	&-container {
		margin-bottom: 2em;
		width: 100%;
		background-image: $blue-gradient;
		box-shadow: 2px 2px 8px $main-color;
	}
	&-title {
		padding: 0.2em;
		color: $info-color;
		text-shadow: 0 0 5px $bg-dark;
		font-weight: 500;
		text-transform: uppercase;
		animation: colorchanger 5s infinite;
	}
	& hr {
		margin-bottom: 1em;
	}
	&__info-text {
		padding: 1em;
		font-size: 1.6rem;
		color: $bg-dark;
	}
}
//section about us
.aboutus {
	background-color: $bg-dark;

	&-title {
		color: $section-pure;
	}
	h3 {
		color: $bg-dark;
	}
	&-h3 {
		text-align: center;
		font-size: 2rem;
		color: $section-pure;
		border-bottom: 8px solid $bg-dark;
	}
	&-text {
		margin: 0.5em;
		padding: 1em;
		max-width: 800px;
		color: $bg-dark;
		font-size: 1.5rem;
		text-align: center;
	}
	&-box__info {
		margin: 2em;
		padding: 2em;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $bg-dark;
		background-color: $section-pure;
		box-shadow: 0 0 18px $section-pure;
		border: 1px solid $section-pure;
		border-radius: 10px;
		overflow: hidden;
		flex-wrap: wrap;
	}
	&-container {
		margin-bottom: 1em;
		width: 100%;
		height: 100%;

		img {
			margin: 0;
			width: 100%;
			height: 100%;
			min-width: 180px;
			min-height: 300px;
			max-width: 600px;
			max-height: 400px;
			object-fit: cover;
		}
		&-container2 {
			margin: 1em;
			padding: 2em;
			justify-content: center;
			align-items: center;
		}
	}

	&__title-quote {
		margin: 2em auto 1em auto;
		text-align: center;
		color: $section-pure;
		font-size: 2rem;
	}

	&-quotes {
		margin-top: 3em;
		padding: 2em;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-height: 400px;
		background-image: $blue-gradient;
		&__frame {
			margin-bottom: 3em;
			width: 100%;
			height: 100%;
			background-color: transparent;
		}
	}
	.quotes-text {
		display: flex;
		justify-content: center;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 600;
		font-style: italic;
		text-shadow: 2px 2px 8px $section-pure;
	}
	.link {
		margin-top: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 1.2rem;
		a {
			padding: 0.5em;
			text-decoration: none;
			color: $section-pure;
			transition: color 0.5s;
		}
		a:hover {
			color: $section-light;
		}
	}
}
//offers
.offers {
	margin: 2em auto 3em;
	background-color: $section-pure;
	&-title {
		color: $bg-dark;
	}
	&-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 90%;
		color: $bg-dark;

		&__cards {
			padding: 2em;
			display: flex;
			flex-direction: column;
			width: 100%;
			background-color: $bg-dark;
			border: 1px solid $bg-dark;
			box-shadow: 2px 2px 8px $bg-dark;
		}
		&__card {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $section-pure;
			flex-wrap: wrap;
			img {
				margin: 0.5em;
				box-shadow: 2px 2px 8px $section-pure;
			}
		}
	}
}

//location
.location {
	padding-bottom: 2em;
	width: 100%;
	background-color: $bg-dark;
	&-title {
		color: $section-pure;
	}
	&-container {
		margin: 0.5em;
		padding: 1em;
		width: 90%;
		height: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		&__map {
			width: 90%;
			max-width: 800px;
			height: 600px;
			border: 4px solid $section-pure;
			border-radius: 10px;
			box-shadow: 2px 0 8px $section-pure;
			overflow: hidden;
		}
		&__text {
			padding: 3em;
			text-align: center;
			color: $section-pure;

			h3 {
				padding: 1em;
				font-size: 2rem;
				border-bottom: 8px solid $section-pure;
			}
			p {
				padding: 1em;
				font-size: 1.6rem;
			}
		}
	}
}

//  contact
.contact {
	padding: 1em;
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url('../img/header-mobile.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position-y: 50%;
	z-index: 0;
	.hero-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: $blue-gradient;
		z-index: -10;
	}
	overflow: hidden;
	height: 800px;
	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
		background-color: transparent;
		background-size: cover;
	}

	&__form-label {
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}

	&__form-input {
		margin-bottom: 2em;
		padding: 0.6em 1.2em;
		border: none;
		border-radius: 8px;
		font-size: 1.6rem;
	}

	&__form-textarea {
		margin-bottom: 2em;
		padding: 0.6em 1.2em;
		border: none;
		border-radius: 8px;
		font-size: 1.6rem;
		max-width: 100%;
		min-width: 100%;
		width: 100%;
		min-height: 150px;
	}

	&__form-btn {
		align-self: flex-end;
		padding: 1em;
		width: 100%;
		max-width: 150px;
		font-size: 1.6rem;
		color: $section-pure;
		border: none;
		border-radius: 8px;
		background-color: $bg-dark;
		box-shadow: 2px 2px 8px $bg-dark;
		transition: background-color 0.5s;
		cursor: pointer;

		&::before {
			background-color: $bg-dark;
		}
	}
	&__form-btn:hover {
		background-color: $main-color;
	}
	&-standard {
		margin: 0.5em;
		p {
			padding: 1em;
			font-size: 1.8rem;
			font-weight: bold;
		}
		a {
			text-decoration: none;
			color: $bg-dark;
			font-weight: 500;
			transition: color 0.3s;
		}
		a:hover {
			color: $main-color;
		}
	}
}
// footer
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	font-size: 1.2rem;
	background-color: $footer-bg;
	&-creator {
		color: $section-pure;
		a {
			text-decoration: none;
			color: $section-pure;
			font-weight: bold;
			transition: color 0.3s;
		}
		a:hover {
			color: $main-color;
		}
	}
	&-line {
		padding: 0.5em;
		width: 100%;
	}
	&-bottom {
		padding: 0.2em;
		width: 100%;
		text-align: center;
		color: $section-pure;
		& .name {
			text-decoration: none;
			font-weight: bold;
			color: $info-color;
			transition: color 0.3s;
		}
		& .name:hover {
			color: $main-color;
		}
	}
}

// Breakpoints
@media (min-width: 576px) {
	.offers {
		&-container {
			&__card {
				flex-wrap: wrap;
			}
		}
	}
}
@media (min-width: 768px) {
	// .title {
	// 	font-size: 2.5rem;
	// }
	// header {
	// 	color: white;

	// 	.hero-text {
	// 		h1 {
	// 			font-size: 3rem;
	// 		}
	// 		p {
	// 			font-size: 2rem;
	// 		}
	// 	}
	// 	.hero-img {
	// 		background-image: url('../img/header.jpg');
	// 	}
	// }

	// .card {
	// 	font-size: 2.5rem;
	// 	&__info-text {
	// 		font-size: 2rem;
	// 	}
	// }
	// .text {
	// 	h3 {
	// 		font-size: 2rem;
	// 	}
	// 	p {
	// 		font-size: 1.5rem;
	// 	}
	// }
	.aboutus {
		&-box {
			&__info {
				flex-wrap: nowrap;
			}
		}
		// 	&-h3 {
		// 		font-size: 2.5rem;
		// 	}
		// 	&-text {
		// 		font-size: 2rem;
		// 	}
	}
	.offers {
		&-container {
			&__card {
				flex-wrap: nowrap;
			}
		}
	}
	.footer {
		font-size: 2rem;
	}
	.contact {
		font-size: 2rem;
		background-image: url('../img/header.jpg');
		&-standard {
			p {
				font-size: 2rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.title {
		font-size: 3rem;
	}
	header {
		color: white;

		.hero-text {
			h1 {
				font-size: 3rem;
			}

			p {
				font-size: 2.5rem;
			}
		}
		.hero-img {
			background-image: url('../img/header.jpg');
		}
	}
	.card {
		font-size: 2rem;
		&__info-text {
			font-size: 1.8rem;
		}
	}
	.aboutus {
		&-h3 {
			font-size: 2.5rem;
		}
		&-text {
			font-size: 1.8rem;
		}
		.quotes-text {
			font-size: 2.5rem;
		}
		&__text-quote {
			font-size: 2.5rem;
		}
		.link {
			font-size: 1.6rem;
		}
	}
	.text {
		h3 {
			font-size: 2.5rem;
		}
		p {
			font-size: 1.8rem;
		}
	}
}
