$main-color: rgb(81,123,139);
$section-light:rgb(254,230,132);
$text-main: #fff;
$section-pure: #ffffff;
$footer-bg: #2e2e2e;
$bg-dark:rgb(35, 42, 40);
$bg-shadow: rgba(0, 0, 0, 0.75);
$info-color: rgba(231, 29, 29, 0.875);


$blue-gradient: linear-gradient(315deg, #90d5ec 0%, rgba(252, 87, 95,.5) 74%);
$light-blue-gradient: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75));
$blue-gradient-solid: linear-gradient(45deg, rgb(20, 105, 241), rgb(42, 10, 184));