$main-color: #03e5b7;
$section-light: rgb(3, 122, 222);
$text-main: #fff;
$section-pure: #ffffff;
$footer-bg: #2e2e2e;
$bg-dark: rgb(35, 42, 40);
$bg-shadow: rgba(0, 0, 0, 0.8);
$info-color: rgba(231, 29, 29, 0.875);

$blue-gradient: linear-gradient(315deg, #03e5b7 0%, rgba(3, 122, 222, 0.5) 74%);
$light-blue-gradient: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
$blue-gradient-solid: linear-gradient(
	45deg,
	rgb(20, 105, 241),
	rgb(42, 10, 184)
);

$nav-bg: linear-gradient(315deg, rgb(127, 90, 131) 0%, rgb(13, 50, 77) 74%);
$nav-bg-light: linear-gradient(315deg, #03e5b7 0%, rgb(3, 122, 222) 74%);
